.service-item-card{
    height: 85%;
}
/* .service-details-fe{
    width: 25%;
} */
.feature-details{
    height: 96%;
}
.about-nav-tab{
    width: 25%;
}
.image-section{
    margin-bottom: 44px;
}
.title-section{
    margin-top: 20px;
}